/*CSS
- Variables
- Cambio en body
- Header Cortina responsive
- Header principal
- Main: Secciones -> métodos de pago y en que se usa el dinero
- Footer */

@font-face {
    font-family: 'letraPoppins';
    /*Definición de tipografía de toda la página*/
    src: url(../font/Poppins-Regular.ttf);
}

:root {

    --colorTexto: #171512;
    /*Color del texto de pagina*/
    --colorfondo: #F2F2F4;
    /*Color del fondo de pagina*/
    --verde: #56763C;
    --rosado: #FFAAB1;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--colorfondo);
    font-family: 'letraPoppins';
}


/*HEADER CORTINA RESPONSIVE*/

.headerMovil {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: hidden;

    background-color: var(--verde);
    width: 0;
    transition: 1s width;

}

.headerMovil__conetenedor {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*Boton X movil*/
.headerMovil__botonX {

    border: 2px solid var(--colorfondo);
    color: var(--colorfondo);
    background-color: transparent;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0.8rem;
    padding: 0.5rem 0.8rem;

    align-self: end;
    margin: 1rem;
}

.headerMovil__botonX:hover {

    background-color: var(--colorTexto);
}

/*Boton donar movil */
.headerMovil__linkBoton {
    color: var(--colorfondo);
    background-color: var(--colorTexto);
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 1rem;

}

.headerMovil__linkBoton:hover {
    color: var(--colorTexto);
    background-color: var(--colorfondo);
}

/*Lista movil*/
.headerMovil__listaMovil {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2rem;
    margin: 2rem 0;
}

/*Menus desplegables movil*/
.headerMovil__extra {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    transition: 1s max-height
}

.headerMovil__extraAyuda {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    transition: 1s max-height
}

.altura {
    /*clase creada en css para que aparezca menus desplegables ayuda y adopción */
    max-height: 100rem;
}


@keyframes lista {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

.desaparece {
    /*clase creada en css para transision menu*/
    animation: lista 1s ease-out;
}

/*Elementos de lista movil*/

.headerMovil__elemLista {
    color: var(--colorfondo);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.headerMovil__elemLista:hover {
    color: var(--colorTexto);
}

.headerMovil__elemExtra {
    cursor: pointer;

}

.headerMovil__elemExtra:hover {
    color: var(--colorTexto);
}

.headerMovil__link {
    text-decoration: none;
    color: var(--colorfondo);
    font-size: 1.4rem;
    font-weight: bold;
}

.headerMovil__link:hover {
    color: var(--colorTexto);
}

.headerMovil__linkOl {
    margin: 0;
    padding: 0;
    color: var(--colorfondo);
    text-decoration: none;
    font-size: 1.1rem;
}

.headerMovil__linkOl:hover {
    color: var(--colorTexto);
}

/*HEADER PRINCIPAL*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    padding: 1rem;
    background-color: var(--verde);
    color: var(--colorfondo);
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
    }
}

/*Navegador*/
.header__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo {
    font-size: 1.7rem;
    color: var(--colorfondo);
    text-decoration: none;
    font-weight: bold;

}

@media screen and (max-width: 350px) {
    .header__logo {
        font-size: 1.2rem;
    }
}

/*Listas*/
.header__listas {
    display: flex;
    padding: 0;
    gap: 1.6rem;
    list-style-type: none;
    font-size: 1.2rem;
}

@media screen and (max-width: 922px) {
    .header__listas {
        display: none;
    }
}

/*MENU desplegable adopción*/
.header__extraAdopcion {
    list-style-type: none;

    z-index: 1;

    padding: 0 0.5rem;
    margin: 0;

    background-color: #171512ab;
    border-radius: 0.5rem;

    max-height: 0;
    overflow: hidden;

    transition: 1s max-height;

    position: absolute;
    /**/
}

/*Menu desplegable ayuda*/
.header__extraAyuda {
    list-style-type: none;
    padding: 0 0.5rem;

    z-index: 1;

    background-color: #171512ab;
    border-radius: 0.5rem;

    max-height: 0;
    overflow: hidden;

    transition: 1s max-height;
    position: absolute;
}

.header__linkOl {
    text-decoration: none;
    color: var(--colorfondo);
}

.header__linkOl:hover {
    color: var(--verde);
}

.header__elemLista {
    cursor: pointer;
    position: relative;

}

.header__elemLista:hover {
    color: var(--colorTexto);
}

.header__link {
    text-decoration: none;
    color: var(--colorfondo);
}

.header__link:hover {
    color: var(--colorTexto);
}

/*Boton donar*/
.header__linkBotonDonar {
    background-color: var(--colorTexto);
    color: var(--colorfondo);
    font-weight: bold;
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 0.9rem;
}

.header__linkBotonDonar:hover {
    background-color: var(--colorfondo);
    color: var(--colorTexto);
}

@media screen and (max-width: 922px) {
    .header__linkBotonDonar {
        display: none;
    }
}

/*Boron barra*/

.header__barras {
    background-color: var(--colorfondo);
    color: var(--colorTexto);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.3rem;
    padding: 0.4rem 0.6rem;

    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .header__barras {
        margin: 0 2rem 0 0;
    }
}

.header__barras:hover {
    background-color: var(--colorTexto);
    color: var(--colorfondo);

}

.header__barras--desaparece {
    display: none;
}

@media screen and (max-width: 922px) {
    .header__barras--desaparece {
        display: block;
    }
}

/*SECCION DONACIÓN*/
.seccionDonacion__contenedor {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/patitasgatox1400wmenos.webp);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes apareceTitulo {
    /*Animación para titulo*/

    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }


}

.seccionDonacion__titulo {
    color: var(--colorfondo);
    font-size: 2rem;
    animation: apareceTitulo 1.3s ease;
}

@media screen and (max-width: 830px) {
    .seccionDonacion__titulo {
        width: 80%;
        text-align: center;
    }
}

.seccionDonacion__contenedorTexto {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem 0;
}

@media screen and (max-width: 830px) {
    .seccionDonacion__contenedorTexto {
        flex-direction: column;
        align-items: center;
    }
}


.seccionDonacion__texto {
    width: 35%;
}

@media screen and (max-width: 830px) {
    .seccionDonacion__texto {
        width: 80%;
        font-size: 1.3rem;
    }
}


/*Pagar*/
.seccionDonacion__pagar {
    width: 100%;
    display: flex;
    justify-content: center;

}

.seccionDonacion__principal {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border: 5px dotted var(--rosado);
    padding: 1rem;
}

@media screen and (max-width: 830px) {
    .seccionDonacion__principal {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

.seccionDonacion__contenedorPagar {
    width: 20%;
}

@media screen and (max-width: 830px) {
    .seccionDonacion__contenedorPagar {
        width: 90%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.seccionDonacion__paypal {
    width: 100%;
    cursor: pointer;
}
@media screen and (max-width: 830px) {
    .seccionDonacion__paypal  {
        width: 23rem;
        font-size: 1.3rem;
        
    }
}
@media screen and (max-width: 460px) {
    .seccionDonacion__paypal  {
        width: 15rem;
        
        
    }
}

.seccionDonacion__tituloCard {
    text-align: center;
}

.seccionDonacion__parrafoCard {
    text-align: center;
}

/*SECIION QUE HACER CON EL DINERO*/
.seccionQueHace__total {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

.seccionQueHacer__contenedor {
    width: 80%;
    display: flex;
    background-color: var(--verde);
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid var(--colorTexto);
}

@media screen and (max-width: 730px) {
    .seccionQueHacer__contenedor {
        flex-direction: column;
        padding: 0;
    }
}

.seccionQueHacer__contenedorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorfondo);
}

.seccionQueHacer__texto {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.seccionQueHacer__icono {
    font-size: 4rem;
}

.seccionQueHacer__titulo {
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem 0;
}

@media screen and (max-width: 540px) {
    .seccionQueHacer__titulo {
        width: 80%;
        margin: 0 0 0 2rem;
    }
}

/*FOOTER*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
    color: var(--colorfondo);
}

@media screen and (max-width: 830px) {
    .footer {
        align-items: center;
    }
}

/*Primer div*/
.footer__contenedorCuerpo {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 830px) {
    .footer__contenedorCuerpo {
        flex-direction: column;
        align-items: center;

    }
}

.footer__lista {
    display: flex;
    gap: 1rem;
    padding: 0;
}

@media screen and (max-width: 830px) {
    .footer__lista {
        flex-direction: column;
    }
}

.footer__elementoLista {
    list-style-type: none;
    cursor: pointer;
}

.footer__elementoExtra {
    list-style-type: disc;
}

.footer__links {
    text-decoration: none;
    color: var(--colorfondo);
}

.footer__links:hover {
    text-decoration: underline;
}

.footer__logo {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem;
    color: var(--colorfondo);
    text-decoration: none;
}

.footer__iconos {
    align-self: flex-end;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
}
@media screen and (max-width: 830px) {
    .footer__iconos  {
        display: flex;
        justify-content: space-around;
        margin: 0 0 0.7rem 0;
        width: 100%;

    }
}

/*Segundo div*/

.footer__otrasListas {
    display: flex;
    justify-content: center;
    gap: 1rem;
    opacity: 0.5;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 440px) {
    .footer__otrasListas {
        flex-direction: column;
        align-items: center;
    }
}


.footer__listaPie {
    list-style-type: none;
    cursor: pointer;
}

.footer__vacio {
    background-color: var(--colorfondo);
    width: 100%;
    height: 2px;
    opacity: 0.5;
}